<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solutions</title>
    <link rel="stylesheet" type="text/css" href="styles/rule1.css" >
    <link rel="canonical" href="https://younes.dev.onrender.com/">
    <link rel="stylesheet" href="/styles/all.min.css">

</head>
<body>
  <!-- startbseettingg box -->
  <div class="settings-box">
    <div class="toggle-settings">
        <i class="fas fa-clock fa-spin"></i>
    </div>
    <div class="settings-content">
        <div class="option-box">
            <h4>colors</h4>
            <ul class="colors-list">
                <li class="active" data-color="#FF9800"></li>
                <li data-color="#E91E63"></li>
                <li data-color="#009688"></li>
                <li data-color="#03A9F4"></li>
                <li data-color="#4CAF50"></li>
            </ul>
        </div>
        <div class="option-box">
            <h4>CHANGE Background </h4>
           <div class="random-backgrounds">
            <span class="yes active" data-background="yes">yes</span>
            <span class="no" data-background="no">no</span>
           </div>
           
        </div>
        <div class="option-box">
            <h4>show bullets</h4>
           <div class="bullets-option">
            <span class="yes active" data-display="show">yes</span>
            <span class="no" data-display="hide">no</span>
           </div>
        </div>
        <button class="reset-options">
            reset options
        </button>
   </div>
</div>
    <!-- end setting box -->

  <form method="post" action="/articles" id="form-of-article">
    <h2>Create a New Article</h2>
    <label for="article-title">Title:</label>
    <input type="text" id="article-title" name="title" required placeholder="Enter the tech or what kind of stack you used to solve this problem" minlength="5" maxlength="100"><br>
  
    <label for="article-category">Problem:</label>
    <input type="text" id="article-category" name="category" required placeholder="Enter the problem and error if you have it" minlength="5" maxlength="100"><br>
  
    <label for="article-content">Solution:</label>
    <textarea id="article-content" name="content" rows="10" cols="50" required placeholder="Here enter how you solve this problem" minlength="10"></textarea><br>
  
    <label for="article-author-name">Author Name:</label>
    <input type="text" id="article-author-name" name="authorName" required placeholder="Enter your name" minlength="3" maxlength="50"><br>
  
    <label for="article-author-specialisation">Author Specialisation:</label>
    <input type="text" id="article-author-specialisation" name="authorSpecialisation" required placeholder="Enter your specialisation" minlength="5" maxlength="50"><br>
  
    <button type="submit" id="submit-article">Submit</button>
    <input type="search" name="search" id="search" placeholder="Search"  minlength="5" maxlength="50" >
  </form>

<!-- start articles from database  -->
<section>
  <h2>Existing Articles</h2>
  <div id="articles-container">
    <% if (!articles && !timeout) { %>
      <p>Loading articles...</p>
      <% var timeout = setTimeout(function() { %>
        <p>No articles to display</p>
      <% }, 5000) %>
    <% } else if (!articles && timeout) { %>
      <p>No articles to display</p>
      <% clearTimeout(timeout) %>
    <% } else if (articles.length === 0) { %>
      <p>No articles to display</p>
    <% } else { %>
      <% articles.forEach(function(article) { %>
        <div class="article-container">
          <h3><%= article.title %></h3>
          <p>Category: <%= article.category %></p>
          <p><%= article.content %></p>
          <p>By <%= article.authorName %>, Author Specialization: <%= article.authorSpecialization %></p>
          <hr>
          <div class="actions-container">
            <span><%= article.commentCount %><img src="images/comment.png" alt="comment" />Comment</span>
            <span><%= article.shareCount %><img src="images/send.png" alt="share" />Share</span>
            <span class="like-button" data-article-id="<%= article._id %>"><%= article.likeCount %><img src="images/like.png" alt="like" />Like</span>
          </div>
        </div>
      <% }) %>
    <% } %>
  </div>
</section>
<!-- end articles from database  -->


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      $(document).ready(function() {
        // function to create HTML for an article
        function createArticleHTML(article) {
          return '<div class="article-container"><h3> title: ' + 
            article.title + '</h3><p>Category of probleme : ' +
            article.category + '</p><p> solution:' + article.content +
            '</p><p>By ' + article.authorName + ', Author Specialisation: ' +
            article.authorSpecialisation + 
            '</p> <hr> <div class="actions-container"><span><img src="images/comment.png" alt="comment" />Comment</span><span><img src="images/send.png" alt="share" />Send</span><span class="like-button"><img src="images/like.png" alt="like" />Like</span></div></div>';
        }
      // start get articles from server on page load
        $.ajax({
          method: 'GET',
          url: '/articles',
          success: function(data) {
            console.log(data);
            if (data=== null) {
              $('#articles-container').append('<p>No articles to display</p>');
            }else if (data.length === 0) {
              $('#articles-container').append('<p>No articles to display</p>');
            }else{
                // loop through articles and append HTML to the container
              for (var i = 0; i < data.length; i++) {
              var articleHTML = createArticleHTML(data[i]);
              $('#articles-container').append(articleHTML);
            }
            }
          },error: function(jqXHR, textStatus, errorThrown) {
  console.log(textStatus, errorThrown);
  console.log(jqXHR.responseText);
}       
        });
      //end  get articles from server on page load

        // start  submit the articles 
        $('#submit-article').on('click', function(event) {
          event.preventDefault();
          // send form data using AJAX
          $.ajax({
            method: 'POST',
            url: '/articles',
            data: {
              title: $('#article-title').val(),
              category: $('#article-category').val(),
              content: $('#article-content').val(),
              authorName: $('#article-author-name').val(),
              authorSpecialisation: $('#article-author-specialisation').val(),
              clickCount:0 // initilize click count to 0
            },
            success: function(data) {
      console.log(data);
      // create HTML for the new article
      var articleHTML = '<div class="article-container">' +
        '<h3>' + data.title + '</h3>' +
        '<p>Category of probleme : ' + data.category + '</p>' +
        '<p>Solution: ' + data.content + '</p>' +
        '<p>By ' + data.authorName + ', Author Specialisation: ' + data.authorSpecialisation + '</p>' +
        '<hr>' +
        '<div class="actions-container">' +
        '<span>45<img src="images/comment.png" alt="comment" />Comment</span>' +
        '<span>40<img src="images/send.png" alt="share" />Send</span>' +
        '<span class="like-button">44<img src="images/like.png" alt="like" />Like</span>' +
        '</div>' +
        '</div>';
      // append the new article to the list of articles
      $('#articles-container').prepend(articleHTML);
      $('#article-form')[0].reset();
    },error: function(jqXHR, textStatus, errorThrown) {
              console.log(textStatus, errorThrown);
            }
          });
        });
      });
    // end  submit the articles 

    // start the listener of click 
    const likeButton = document.querySelectorAll('.like-button');
likeButton.addEventListener('click', function() {
  alert('im like elemnt ');
  const articleId = likeButton.dataset.articleId;
  fetch(`/articles/${articleId}/like`, { method: 'POST' })
    .then(response => {
      if (!response.ok) throw new Error('Failed to update like count');
      console.log('Article like count updated');
    })
    .catch(error => {
      console.error(error);
    });
});
// end the listener of click
    </script>
    <script src="source/master.js"></script>
</body>
</html>